

body {
  font-family: 'Roboto', sans-serif;
}
.c1 {
  justify-content: center;
  display: flex;
}

.container {
  display: flex;

  flex-direction: column;

padding: 50px;
border: 5px solid green;
  min-width: 500px;

}

.form-item {
  margin: 20px;
}
.gender {
  display: flex;
  align-items: center;
  height: 22px;
}
.h1 {
  height: 100px;
  display: flex;
  justify-content: center;
  margin: 50px;
}

input {
  border-radius: 10px ;
  border: 2px solid darkgray;
  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }

}
button {
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;

  display: block;
  cursor: pointer;
width: 100px;
  margin-left: 45%;
  &:hover {
    background-color: #2e8a9c;
  }
}

.invalid-varning {
  color: darkred;
}
.submit {
  margin-top: 20px;
}

.remove {
  margin-top: 10px;
}
